

<h1>Sua galeria de fotos</h1>

<div class="gallery">
  <div class="column">
    <div class="card" *ngFor="let pic of pictures">
      <img src="../assets/pics/av52EBq_460s.jpg" alt="">
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/pics/av52EBq_460s.jpg" alt="">
    </div>
    <div class="card">
      <img src="../assets/pics/images.jpg" alt="">
    </div>
    <div class="card">
      <img src="../assets/pics/download-2.jpg" alt="">
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/pics/download-2.jpg" alt="">
    </div>
    <div class="card">
      <img src="../assets/pics/av52EBq_460s.jpg" alt="">
    </div>
    <div class="card">
      <img src="../assets/pics/download.jpg" alt="">
    </div>
  </div>
</div>

