

<h1>Sua galeria de fotos</h1>

<div class="gallery">
  <div class="column">
    <div class="card" *ngFor="let pic of item | async">
      <img src="{{pic.img}}" alt="{{pic.img}}">
    </div>
  </div>

  <div class="column">
    <div class="card" *ngFor="let pic of columns[1]">
      <img src="{{pic.img}}" alt="{{pic.img}}">
    </div>
  </div>

  <div class="column">
    <div class="card" *ngFor="let pic of columns[2]">
      <img src="{{pic.img}}" alt="{{pic.img}}">
    </div>
  </div>
</div>

<button class="float-btn" (click)="addPic()">
  +
</button>

